table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-top:0;
    margin-bottom:0;
    margin-left:auto;
    margin-right:auto;
    width: 200px;
}
th, td {
    padding: 5px;
    text-align: left;    
}
#editNewWindow{
    display: block;
    position: absolute; 
    margin-top:0;
    margin-bottom:0;
    margin-left:auto;
    margin-right:auto;
    width: 200px;
    background-color: white;
}
#errMessages{
    margin-bottom: 3%;
}
.errMsg {
    color: red;
}