<!DOCTYPE html>
<html lang="en lt">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        
        <script src="./js/default.js"></script>
        <link href="./css/cssFile.css" rel="stylesheet"/>
    </head>
    <body ng-app="myApp" ng-controller="ngCtrl_main" ng-cloak>
        <!--popUp langas-->
        <div ng-if="edit || new" id="editNewWindow">
            <div>
                <label>Vardas: </label>
                <input type="text" ng-model="rec.firstname" required>
            </div>
            <div ng-if="errName" class="errMsg"><b>Vardas nėra įvestas</b></div>
            <div>
                <label>Pavardė: </label>
                <input type="text" ng-model="rec.lastname">
            </div>
            <div ng-if="errLastName" class="errMsg"><b>Pavardė  nėra įvesta</b></div>
            <div>
                <label>Elektroninis paštas: </label>
                <input type="email" ng-model="rec.email">
            </div>
            <div ng-if="errEmail" class="errMsg"><b>Elektroninis paštas įvestas neteisingai arba nėra įvestas</b></div>
            <div>
                <label>Telefono numeris: </label>
                <input type="text" ng-model="rec.phone">
            </div>
            <div ng-if="errPhoneNr" class="errMsg"><b>Telefono numeris įvestas neteisingai arba nėra įvestas</b></div>


            <button ng-if="edit" ng-click="update()">Atnaujinti</button>
            <button ng-if="new" ng-click="insert()">Pridėti</button>
            <button ng-click="cancel()">Atšaukti</button>
        </div>
        <table>
            <tr>
                <th>Vardas</th>
                <th>Pavardė</th>
                <th>Elektroninis paštas</th>
                <th>Telefono numeris</th>
            </tr>
            <tr ng-repeat="user in users">
                <th> {{user.firstname}}</th>
                <th> {{user.lastname}}</th>
                <th> {{user.email}}</th>
                <th> {{user.phone}}</th>
                <th><button ng-click="removeUser($index)">Trinti</button></th>
                <th><button ng-click="editUser($index)">Redaguoti</button></th>
            </tr>
        </table>
        <button id="combine" ng-if="!edit && !new" ng-click="add()">Pridėti</button>
    </body>
</html>
